html{
	color: white;
	background: #222 url(../public/bg_dark.png) repeat fixed;
	font-family: verdana, sans-serif, geneva;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, li, dd, dt {
	/* text-shadow: 0 1px 1px #aaa; */
	margin: 0;
	padding: 0;
}

body {
	font-size: 80%;
}

pre {
	font-family: Monaco, Monospace;
	font-size: 12px;
}

h1 {
  font-size: 2em;
}

h1#static-index-header {
  font-size: 4em; 
  margin: 1em 0 .5em 0;
  text-align: center;
}

h1#static-index-header a {
  text-align: center;
  display: block;
  font-size: 0px;
  text-indent: -3000em;
  margin: 0;
  padding:75px 375px 75px 375px;
  background: transparent url(../public/logo.png) no-repeat scroll center center;
}

h2 {
  font-size: 1.8em;
}

h2#site-title {
  text-align: left;
  /*margin: 0em 0 .5em -1em;*/
}

h2#site-title a#ruu {
  display: block;
  margin: 0;
  height: 75px;
  font-size: 0px;
  text-indent: -3000em;
  padding: 0px 0px 0px 500px;
  background: transparent url(../public/logo_small.png) no-repeat scroll top left;
}

/*h2#site-title span {
  display: block;
  padding: 1em 0 0 0;
  text-align: left;
  margin: 0;
}*/

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

img {
  	border: none;
  	vertical-align: middle;
}

img.flagged {
  	border: 6px outset #DF0101;
	/*box-shadow: 0px 0px 16px #DF0101;
	-webkit-box-shadow: 0px 0px 16px #DF0101; /* Safari */
}

img.has-children {
  	border: 6px outset #74DF00;
	/*box-shadow: 0px 0px 16px #74DF00;
	-webkit-box-shadow: 0px 0px 16px #74DF00; /* Safari */
}

img.has-parent {
  	border: 6px outset #D7DF01;
	/*box-shadow: 0px 0px 16px #D7DF01;
	-webkit-box-shadow: 0px 0px 16px #D7DF01; /* Safari */
}

img.pending {
  	border: 6px outset #0174DF;
	/*box-shadow: 0px 0px 16px #0174DF;
	-webkit-box-shadow: 0px 0px 16px #0174DF; /* Safari */
}

img.normal {
  	border: 6px outset #EE8887;
	/*box-shadow: 0px 0px 16px #AAAAAA;
	-webkit-box-shadow: 0px 0px 16px #AAAAAA; /* Safari */
}

img.preview {
  	margin: auto;
}

input {
	padding: 0 0.3em;
	background: transparent;
}

input[type=password], input[type=text], input[type=file]
/*{
	background: transparent;
	color: #fff;
	border: 1px solid #EAEAEA;
}*/
,
input[type=password]:hover, input[type=text]:hover, input[type=file]:hover
/*{
	background: transparent;
	color: #fff;
	border: 1px solid #EAEAEA;
}*/
,
input[type=password]:focus, input[type=text]:focus, input[type=file]:focus
{
	background: transparent;
	color: #fff;
	border: 1px solid #EAEAEA;
}

input[type=button], input[type=button]:hover {
	width: 64px;
	height: 24px;
	background: transparent;
	border: 1px solid #EAEAEA;
	color: #ee8887;
}

input[type=button]:hover {
	color: #FFFFFF;
}

input[type=submit], input[type=submit]:hover {
	height: 24px;
	background: transparent;
	border: 1px solid #EAEAEA;
	color: #ee8887;
}

input[type=submit]:hover {
	background: transparent;
	color: #FFFFFF;
}

input.main_search,input.main_search:hover {
	position: absolute;
	margin-left: 0px;
	padding: 0px !important;

/*	background: url('layout/search_bg.png') top right no-repeat; */

	font-size: 11px;
	font-weight: bold;

/*	color: #fff; */

	height: 28px;
	width: 86px;

/*	border: 0px solid #e2e2e2; */

	background: transparent;
	border: 1px solid #EAEAEA;
	color: #ee8887;
	border-left: 0px;
}

input.main_search:hover {
	color: #ffaaae;
}

input.secondary_search,input.secondary_search:hover {
	width: 180px;
	height: 20px;
	margin-bottom: 5px;
	/* border: 0px;
	background: url('layout/site_search.jpg') center repeat-x; */
	background: transparent;
	border: 1px solid #EAEAEA;
	color: #ee8887;
}

input.secondary_search:hover {
	background: transparent;
	color: white;
}

input.main_search_text,input.main_search_text:hover,input.main_search_text:focus {
	height: 16px;
	padding: 5px;
	width: 400px;
	border: 1px solid #EAEAEA;
	/* border: 0px solid #e2e2e2; */
	background: transparent;
	color: white;
	border-right: 0px;
}

input.search_list, input.search_list:focus {
	width: 174px;
	border: 1px solid #EAEAEA;
	/* border: 0px solid #e0e0e0; */
	margin-bottom: 2.5px;
	padding: 2px;
	background: transparent;
	color: white;
}

input.search_list:hover {
	background: transparent;
}

input.massedit {
	width: 256px;
	height: 24px;
	margin: 8px 0px 8px 0px;
}
textarea.massedit,textarea.massedit:hover,textarea.massedit:focus {resize:none;
	width: 256px;
	margin: 8px 0px 8px 0px;
}
/*input.main_search_text:focus {
	height: 16px;
	padding: 5px;
	width: 400px;
	border: 1px solid #EAEAEA;
	background: #222;
	color: white;
	border-right: 0px;
}

input.search_list:focus {
	width: 174px;
	border: 1px solid #EAEAEA;
	margin-bottom: 2.5px;
	padding: 2px;
	background: rgba(68,68,68,0.5);
	color: white;
}*/

select,select:hover,

select:focus  {
	padding: 0px;
	background: transparent/*rgba(34,34,34,0.5)*/;
	color: #fff;
	border: 1px solid #EAEAEA;
}

/*select:hover {
	padding: 0px;
	background: rgba(51,51,51,0.5);
	color: #fff;
	border: 1px solid #EAEAEA;
}

select:focus {
	padding: 0px;
	background: rgba(68,68,68,0.5);
	color: #fff;
	border: 1px solid #EAEAEA;
}*/

a:link {
  color: #ee8887;
  text-decoration: none;
}

a:visited {
  color: #ee8887;
  text-decoration: none;
}

a:hover {
  color: #ffaaae;
  text-decoration: none;
}

a:active {
  color: #ccc;
  text-decoration: none;
}

/*a.help {
  background: #E6E6E6;
}*/

.link {
  color: #006FFA;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.link:hover {
  color: #33CFFF;
}

label {
  font-weight: bold;
  padding-right: 2em;
  white-space: nowrap;
}

span.author {
  color: gray;
}

span.date {
  color: #AAA;
}

span.date a {
  color: #AAA;
}

span.locked-topic {
	color: #AAA;
}

span.unread-topic {
  	font-weight: bold;
}

th {
  font-weight: bold;
  text-align: left;
  background: transparent;
  color: white;
  padding: 0.2em 0.4em;
  white-space: nowrap;
}

th a, th a:link, th a:visited {
  color: rgb(250, 250, 255);
}

tr.padded th {
  padding: 0 1em;
}

table.highlightable > tbody > tr:hover {
  background: rgba(102,102,102,0.25);
}

/*table th {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  background: #444;
  padding: 0.2em 0.4em;
  white-space: nowrap;
}*/

tr.bad {
  background: rgb(255, 230, 230);
}

/*table tr.even {
  color: white;
  background: #444 ;
}*/

table tr.selected {
  background: #044 !important; /* override highlightable */
}

tr.highlight {
  background: #67100F;
}

tr.pending-tag {
  /* background: #503030; */
  background: rgba(204,204,204,0.25);
}

tr.odd {
  color: white;
  background: #333;
}

tr.even {
  color: white;
  background: #444;
}

/*tr.odd {
  background: #f0f0f0;
}*/

/*tr.pending-tag {
  background: #dcf6dc;
}*/

td {
  padding: 1px 4px; vertical-align: top;
}

fieldset {
  border: 1px dashed gray;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  width: 50%;
}

legend {
  letter-spacing: 0.5em;
}

table {
  margin-bottom: 2em;
}

table.massedit {margin:0}
table.massedit td{vertical-align:middle}
/*table.massedit td input[type=submit]{width:100%; height:100%}*/

textarea, textarea:hover,
textarea:focus {
  display: block;
  padding: 0.25em;
  background:transparent;
  color: #fff;
  border: 1px solid #EAEAEA;
  /* font-family: sans-serif;
  font-size: 1.2em; */
  width: 500px;
  height: 100px;
}

textarea.no-block {
  display: inline;
}

/*textarea:hover {
  background: rgba(51,51,51,0.5);
  color: #fff;
}

textarea:focus {
  background: rgba(68,68,68,0.5);
  color: #fff;
}*/


ol {
  margin-left: 1em;
}

ul {
  margin: 0 0 1em 1em;
}

li {
  margin-left: 1em;
}

p {
  margin-bottom: 1em;
}

.space {
  margin-bottom: 1em;
}

/* Header bar area */
div#header {
  	margin-bottom: 1em;
}

div#header #site-title {
 	margin-top: 1px;
  	padding: 10px 20px 0px 20px;
}

div#header ul#navbar {
  padding: 5px 20px 2px 10px;
  margin: 0 0 4px 0; text-shadow: #000 1px 1px 0;
}

div#header ul#navbar li {
  font-size: 110%;
  padding: 6px 10px 6px 10px;
  margin: 0;
}

div#header ul#navbar li.current-page {
	/*background: #333333;	*/background: rgba(170,170,170,0.25)/*transparent url(/public/bg_light.png) repeat*/;border-radius:8px 8px 0 0;

}

div#header ul#navbar li/*.current-page*/ a {
	color: #fff;
}
div#header ul#navbar li.current-page a {
	font-weight: bold;
}
div#header ul#subnavbar {background: rgba(170,170,170,0.25)/*transparent url(/public/bg_light.png) repeat*/;
  padding: 5px 20px 5px 15px;
  /*background-color: #333333;*/
  margin: 0;
}

div#header ul#subnavbar li {
  padding: 0 5px; text-shadow: #000 1px 1px 0;
}

div#header ul#subnavbar li a {color:#fff;
}
/*End header bar*/

div#content {
  	padding: 0 20px 30px 20px;
}

div#footer {
  margin-top: 1em;
  text-align: center;
  font-size: 120%;
  color: #CCC;
  clear: both;
}

div.comment-body {
width:800px;
word-wrap: break-word;
}

div.sidebar {
	width: 20%;
	float: left;
	max-width: 220px;
	margin-right: 1em;
	overflow: visible;
}

div.sidebar li {
  	list-style-type: none;
  	margin: 0px 10px 5px 0px;
}

div.sidebar2 {
	/* border-right: 1px solid #e5e5e5; 
	border-bottom: 1px solid #f0f0f0; */
	margin-bottom: 10px;
width:200px;
}

div.sidebar3 {
	text-align: left;
	width: 174px;
}

div.content {
  	float: left;
  	margin: 0;
  	width: 77%;
	max-width:1280px;
}

div.option {
  clear: both;
  margin-bottom: 0.5em;
}

div.option p {
  width: 15em;
  font-size: 90%;
}

div#static-more > div {
  float: left;
  width: 25%;
}

div#static-more > div > ul {
  margin-top: 2em;
}

div#static-more > div > ul > li {
  list-style-type: none;
  margin: 0;
}

div#static-more h2 {
  margin: -1em 0 0 -3em;
}

label.block {
  float: left;
  width: 15em;
  padding-right: 1em;
}

/*span.massedit-thumb {
  height: 260px;
  width: 180px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;*/
/* display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle; */
/*}*/

span.informational {
  cursor: help;
}

span.thumb, span.massedit-thumb {
  width: 172px;
  height: 252px;
  margin: 8px 6px 8px 6px;
  display: inline-block;
  /*float: left;*/
  text-align: center;
  vertical-align: middle;
  /*margin:auto;*/
}

div.massedit-all {height:240px; width:160px; text-align:center; border: 6px outset #CCC; background: rgba(34,34,34,0.75);
  margin: 8px 6px 8px 6px;
  display: inline-block;
  /*float: left;
  text-align: center;*/
  vertical-align: middle;

}
/*span.massedit-thumb {float:left}*/
/*span.thumb img {
	border-radius:16px;
}*/

.hidden-comment {
  background-color: #CCC;
}

.ignored-comment {
  background-color: #FEE;
}

.good-comment {
  background-color: #EFE;
}

.ignored-post {
  background-color: #FEE;
}


span.comment-info {
  font-size: 120%;
}

span.comment-info a {
  color: #AAA;
}

span.comment-info a:hover {
  color: #33CFFF;
}

a.comment-link:link, a.comment-link:visited {
  color: black;
  font-weight: bold;
}

a.resp-link {
  font-weight: bold;
}

span.post-count {
  color: #AAA;
}

ul.flat-list {
  display: block;
  margin: 0;
  padding: 0;
}

ul.flat-list li {
  display: inline;
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  margin: 0 1em 0 0;
}

ul.flat-list li a {
  font-weight: normal;
}

ul.flat-list li a.forum-update {
  font-weight: bold;
}

.tag-type-artist > a {
  	color: #F3F781;
}

.tag-type-artist > a:hover {
  	color: #F5F6CE;
}

.tag-type-character > a {
  	color: #BEF781;
}

.tag-type-character > a:hover {
  	color: #E3F6CE;
}

.tag-type-circle > a {
	color: #81F7F3;
}

.tag-type-circle > a:hover {
	color: #CEF6F5;
}

.tag-type-copyright > a {
  	color: #F781F3;
}

.tag-type-copyright > a:hover {
  	color: #F6CEF5;
}

.tag-type-faults > a {
	color: #BDBDBD;
}

.tag-type-faults > a:hover {
	color: #E6E6E6;
}

.tag-type-general > a {
  	color: #F5A9A9;
}

.tag-type-general > a:hover {
  	color: #F8E0E0;
}

.tag-type-new > a {
  	color: #81BEF7;
}

.tag-type-new > a:hover {
  	color: #CEE3F6;
}

ul.link-page {
	font-size: 1.2em;
	font-weight: bold;
}

ul.link-page > li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

form {
  margin-bottom: 0; /* opera defaults to 1em for some reason */
}

form.button-to input {
  border: none;
  color: #006FFA;
  background: transparent;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}

form.button-to input:hover {
  color: #33CFFF;
}

.text-button
{
	padding: 0px 2px;
	border: 1px solid #EAEAEA;
}

.text-button:hover
{
	background: rgb(60, 60, 220);
	color: white;
}

/*li#notice {
  color: red;
  font-weight: bold;
}*/
div#notice {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  /*border: 1px solid #AAA;*/
  padding: 26px 12px 10px 12px;
  /* Use a margin to prevent the box from falling under scrollbars. */
  max-width: 800px;
  border-top: none;
background: transparent url(/public/bg_dark.png) repeat;
  border: 1px solid #AAA;
  border-radius: 0px 0px 12px 12px;
  box-shadow:			0px 0px 12px #000;
  -webkit-box-shadow:	0px 0px 12px #000;
}

/* Using margin-left: auto; margin-right: auto; to center doesn't seem to work
 * on position: fixed;, so we have to do this with two blocks. */
div#notice-container
{
  top: -24px;
  width: 100%;
  position: fixed;
  z-index: 1000000;
  text-align: center;
  pointer-events: none;
}
div#notice-container > table
{
  margin: auto;
}
div#paginator {
  display: block;
  padding: 2em 0 1em 0;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  clear: both;
}

div#paginator span {
  margin: 0 3px;
  padding: 2px 6px;
}

div#paginator a {
  margin: 0 3px;
  padding: 2px 6px;
  font-weight: normal;
  border: 1px solid #EAEAEA;
}

div#paginator a.current {
  border: 1px solid #AAA;
}

div#paginator a:hover {
  background: rgba(60, 60, 220, 0.5);
  color: white;
}

div#paginator a.arrow {
  border: none;
}

div#paginator a.arrow:hover {
  background: white;
  color: #33CFFF;
}

div#static-index {
  text-align: center;
}

div#static-index div#links a {
  margin: 0 0.5em;
}

div#static-more li {
  list-style-type: none;
  margin: 0;
}

div#static-more div {
  float: left;
  width: 25%;
}

div#static-more ul {
  margin-top: 2em;
}

div#comment-list > div.post {
  float: left;
  clear: left;
  margin-bottom: 3em;
}

div#comment-list > div.post > div.col1 {
  width: 200px;
  float: left;
  clear: left;
}

div#comment-list > div.post > div.col2 {
  float: left;
  width: 55em;
  /*background-color: #333;*/
  padding: 10px 14px 13px 14px;
  margin-bottom: 1em;
}

div#comment-list > div.post > div.col2 > div.header {
  margin-bottom: 1em;
}

div#comment-list > div.post > div.col2 > div.header > div > span.info {
  margin-right: 1em;
}

div#comment-list > div.post > div.col2 > div.header > div.tags > span {
  margin: 0 0.5em 0 0;
}

div.response-list > div.comment {
  overflow: auto;
  margin-bottom: 2em;
}

div.response-list > div.comment > div.author {
  float: left;
  width: 15em;
  word-wrap:break-word;
  padding-right: 1em;
}

div.response-list > div.comment > div.author > h6 {
  font-size: 1.3em;
}

div.response-list > div.comment > div.content {
  float: left;
  width: 38em;
  padding: 0 0 0 10px;
  margin: 0;
}

div.response-list > div.comment > div.content > div.body {
word-wrap: break-word;
}

div.response-list > div.comment > div.content > div.footer {
  margin-top: 1em;
  color: #CCC;
}

div.response-list > div.comment > div.content > div.footer a {
  color: #aaa;
}

/*div.post-list {
	margin: 8px 0px 32px 0px; padding: 16px;
border: 1px solid #AAA; border-radius:16px; background:#333;
box-shadow: 0px 0px 8px #000;  text-align: center;
-webkit-box-shadow: 0px 0px 32px #000;
}*/

/* div#post-view img.data {
  margin-right: 5em;
} */

div#post-view > div#right-col > div {
  position: absolute;
}

div#post-view > div#right-col > div > div#note-container > div.note-body {
  background: #FFE;
  color: #111;
  border: 1px solid black;
  display: none;
  max-width: 300px;
  min-width: 140px;
  min-height: 10px;
  position: absolute;
  padding: 5px;
  cursor: pointer;
  overflow: auto;
}

div#post-view > div#right-col > div > div#note-container > div.note-body > p.tn {
  font-size: 0.8em;
  color: gray;
}

div#post-view > div#right-col > div > div#note-container > div.note-box {
  position: absolute;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  cursor: move;
  background: #FFE;
}

div#post-view > div#right-col > div > div#note-container > div.note-box > div.note-corner {
  background: black;
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

div#post-view > div#right-col > div > div#note-container > div.unsaved {
  background: #FFF;
  border: 1px solid red;
}

div#post-view > div#right-col > div > div#note-container > div.unsaved > div.note-corner {
  background: red;
}

div.status-notice {
  border: 2px solid #666;
  /* padding: 1em;
  margin: 1em; */
  padding: 10px;
  text-align: center;
  background: rgba(17,17,17,0.5);
}

div.status-notice p {
  margin: 0;
}

div.error-notice {
  background: rgba(17,0,0,0.5);
  border: 2px solid #600;
  color: #F00;
  /* padding: 1em;
  margin: 1em; */
  padding: 10px;
  text-align: center;
}

div.success-notice {
  background: rgba(0,17,0,0.5);
  border: 2px solid #060;
  color: #0F0;
  /* padding: 1em;
  margin: 1em; */
  padding: 10px;
  text-align: center;
}

div.info-notice {
  border: 2px solid #006;
  /* padding: 1em;
  margin: 1em; */
  padding: 10px;
  text-align: center;
  background: rgba(0,0,17,0.5);
  color: #00F;
}

div#old-browser
{
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
  border: 1px solid #EAEAEA;
  text-align: center;
  padding: 1em;
  margin: 1em;
  background: black;
}

div#old-browser > #old-browser-hide
{
  font-size: 0.8em;
}

tn {

  font-size: 0.8em;
  color: gray;
}

div#post-view div#edit-box textarea {
  width: 90%;
}

div#post-view div#edit-box {
  position: absolute;
  z-index: 128;
  /* background: #111;
  border: 1px solid black; */
  padding: 1em;
}

div#post-view p {
  margin: 0;
}

div#post-view span.radio {
  margin-right: 1em;
}

div#post-view div.comment {
  margin-bottom: 1em;
}

div#tag-list {
  text-align: center;
  margin-bottom: 2em;
}

div#tag-list div.space a {
  padding-right: 5px;
}

div#wiki-view {
  line-height: 2em;
  width: 50em;
  text-align: left;
}

h2.wiki-title {
  color: #003DD8;
  margin-bottom: 0.25em;
}

span.old-version {
  color: gray;
}

p.linked-from {
  color: gray;
  font-style: italic;
}

div.diff {
  font-family: monospace;
  font-size: 1.2em;
  margin-top: 1em;
}

del {
  font-family: monospace;
  background-color: #f88;
  text-decoration: line-through;
}

ins {
  font-family: monospace;
  background-color: #8f8;
}

div#user-index {
  width: 40em;
}

div#forum > table {
  width: 100%;
}

div#forum > table td,
div#forum > table th {
  text-align: center;
}

div#forum > table td:first-child,
div#forum > table th:first-child {
  text-align: left;
}

div#forum > div.post {
  margin-bottom: 2em;
  float: left;
  clear: left;
}

div#forum > div.post div.author {
  float: left;
  width: 200px;
  padding-right: 1em;
}

div#forum > div.post div.author h6.author {
  font-size: 1.3em;
}

div#forum > div.post div.post-content {
  padding-left: 2em;
  float: left;
  min-height: 4em;
}

div#forum > div.post div.footer {
  margin-top: 1em;
  color: #CCC;
}

div#forum > div.post div.footer a {
  color: #aaa;
}

div#forum > div.post div.body {
  width: 55em;
word-wrap: break-word;
}
div.response-list > div.post {
  float: left;
  clear: left;
  margin-bottom: 2em;
}

div.response-list > div.post > div.author {
  float: left;
  width: 15em;
  padding-right: 1em;
}

div.response-list > div.post > div.author > h6 {
  font-size: 1.3em;
}

div.response-list > div.post > div.content {
  float: left;
  width: 30em;
  padding: 0 0 0 10px;
  margin: 0;
}

div.response-list > div.post > div.content > div.footer {
  margin-top: 1em;
  color: #CCC;
}

div.response-list > div.post > div.content > div.footer a {
  color: #aaa;
}

span.blocked-post {
  display: block;
  float: left;
  text-align: center;
  width: 150px;
  height: 150px;
  margin: 15px;
}

p.tn {
  font-size: smaller;
  color: gray;
}

ul.news li {
  margin-bottom: 0.5em;
}

div.help {
  width: 40em;
  margin-top: 2em;
}

div.help a.code {
  font-family: monospace;
}

div.help div.code {
  border: 1px dashed green;
  margin: 1em 0;
  padding: 1em 2em;
  /*background: #111;*/
  color: #eee;
  overflow: hidden;
  font-family: monospace;
}

div.help div.section {
  margin-bottom: 4em;
}

div.help div.section div.section {
  margin-bottom: 2em;
}

div.help h4 {
  margin-bottom: 0.5em;
  color: #fff;
}

div.help h1, div.help h2, div.help h3, div.help h4 {
  margin: 0 0 0.5em 0;
}
div.license {
	font-family: Monaco, Monospace;
	font-size: 12px;
}
dt {
  font-weight: bold;
}

dt.bad {
  text-decoration: blink;
}

dd {
  margin-bottom: 1em;
}

blockquote {
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid #666;
  background: rgba(170,170,170,0.5);
  color: black;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

.spoiler {
  color: rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.5);
  cursor: text;
  display: block;
}

.spoiler a {
  color: rgba(255,255,255,0.5);
}

.spoiler:hover {
  color: white;
}

.comment-counter {
background-color:transparent;
color:#AAA;
display:inline-block;
width:48px;
height:24px;
border:0;
font-size:14px;
padding:0 3px;
text-align:center;
}

.comment-button {
width:96px;
}

table.calendar {border: 0}
table.calendar td, table.calendar th {text-align: center; border: 0}
table.calendar th {height: 16px;}
table.calendar td {width: 32px; height: 16px; font-size: 12pt;}
table.calendar .calendar-month {font-weight: bold; margin: 8px 8px; font-size: 14pt; text-align: center}
table.calendar .calendar-month a{text-decoration: none}
table.calendar .calendar-prev, table.calendar .calendar-next {font-weight: normal;}
table.calendar th {text-align: center;}
table.calendar td.linked-day {}

/* QUICK SEARCH BOX PROPERTY */
.finder-box {
position: fixed;
visibility: visible;
z-index: 128;
background: transparent url(/public/bg_dark.png) repeat;
border: 1px solid #AAA;
border-radius: 16px;
box-shadow:			0px 0px 16px #000;
-webkit-box-shadow:	0px 0px 16px #000;
padding: 16px;
/*text-align:center;*/
}
form.finder-form input[type=text], form.finder-form input[type=password]{width: 400px; height: 24px; margin-bottom:8px;}
.login-box-submit{margin: 0px; text-align:center}
.login-box-submit input[type=submit]{width: 100px; height: 30px; margin-right: 20px; font-size:14px;}
select.main_search_select,select.main_search_select:hover {
	height: 28px;
	padding: 5px 0px 5px 5px;
	width: 72px;
	border: 1px solid #EAEAEA;
	/* border: 0px solid #e2e2e2; */
	background: transparent;
	color: white;
	border-right: 0px;
	/*margin-right:-64px;*/
	/*-moz-appearance:none;*/
	-webkit-appearance:none;
}

/*select.main_search_select:hover {
	height: 28px;
	padding: 5px;
	width: 400px;
	border: 1px solid #EAEAEA;
	background: #222;
	color: white;
	border-right: 0px;
	margin-right:-64px;
}*/
/* QUICK SEARCH BOX PROPERTY */

/* NEW! Added for File Checksum Reporter. */
.align_center td, .align_center th {
	text-align:center !important;
	vertical-align:middle !important;
}
div.report_header {
	width:1024px;
	margin:auto;
	border: 5px solid #666;
	border-bottom: 0px;
	background: rgba(51,51,51,0.5); display:block;
}
div.report_body {
	width:1024px;
	margin:auto;
	border: 5px solid #666;
	border-top-style: dotted;
	background: rgba(51,51,51,0.5); display:block;
}
/* NEW! Added for File Checksum Reporter. */

/*.adHeadline {
font: bold 12px Arial; 
text-decoration: underline; 
color: #0000FF;
}

.adText {
font: normal 12px Arial; 
text-decoration: none; 
color: #000000;
}*/

/* Let's fuck with our lovely NYANCAT */
/** {cursor:url(../public/nyancat.ani),auto !important}*/
/* May not be supported in some fucking browsers */